chardet==3.04
click==6.7
Cython==0.28.2
dash==0.21.0
dash-core-components==0.22.1
dash-html-components==0.10.1
dash-renderer==0.12.1
decorator
nbformat
numpy
pandas
pandas-datareader
plotly
python-dateutil
pytz
requests
urllib3
Werkzeug
pyproj
python-snappy
fastparquet
fsspec
dask[dataframe]
gunicorn
datashader
dask
distributed
plotly-express
